.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 10px;
  position: relative;
}
.product img {
  width: 285px;
  height: 286px;
  margin: 7px;
}
.product p {
  margin: 0 7px;
}

.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  margin: 0 7px;
  letter-spacing: 0.0015em;
}

.product-price {
  margin: 10px 7px;
  letter-spacing: 0.0015em;
}

.addToCartBtn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  bottom: 0;
  height: 48px;
  background-color: #ffe0b3;
  cursor: pointer;
  border: none;
  border-radius: 0px 0px 8px 8px;
}

.addToCartBtn:hover {
  background-color: orange;
}
